/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  background-color: #eae2b7;
}

/* Set the font family for any h1, h2, or h3 heading */
h1 { 
  font-family: "Georgia", Times, serif;
  text-align: center;
}
article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

p {
  line-height: 1.5;
}

/* The div container constrains the content width within the main container to 600px */
div {
  margin: auto;
  width: 600px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: auto;
 
}

hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {
  border-radius: 50%;
  border: 4px solid  #003049; /* Added a colored border */
  width: 200px;
  height: 200px;
  object-fit: cover;
}
header {
  text-align: center;
}
footer{
  text-align: center;/* this does center the text*/
  
}
a:link {
  color: #d62828;/* Changed the color of the link */
}
a:hover{
  color: #f77f00;/* Changed the color of the link when hovered */
}
a:visited{
  color: #F08080;/*Changed the color of the link when visited */
}


.group-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
}
  

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}


.item h1 {
  margin: 0;
  display: inline-block;
  line-height: 40px;
  white-space: nowrapx;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  margin-left: 20px;

}
.flex-start{
  align-content: flex-start;
}

.item-img {
  margin: 0;
  display: inline-block;
  line-height: 40px;
  white-space: nowrapx;
}
.group-img {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: nowrap;
}

#Portfolio article div {
  margin: 0 10px 0 0px; /* add 20px of horizontal margin */
}

#Portfolio h2 {
  text-align: center;
}
#Portfolio article {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 600px; /* or any other value that works for you */
}
#About {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.group-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-main {
  width: 100%;
  margin: 20px;
}

.item-main:first-child {
  flex-basis: 10%;
  margin-right: 10px;
}

.item-main:nth-child(2) {
  flex-basis: 50%;
  margin-left: 10px;
}

.item-main:last-child {
  flex-basis: 100%;
  margin-top: 0px;
}

.image-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.item-main h3 {
  text-align: center;
}

.item-main p {
  text-align: left;
}

.item-main ul {
  padding: 0;
  margin: 0;
}

.item-main li {
  margin-bottom: 10px;
}
.item-main .content {
  /* Increase the width of the content section */
  margin: 0 auto;
}
.item-main .content ul {
  padding-left: 50px;
}